<div class="cf__item cf__item--big dib w100{% if is_first %} cf__item--first{% endif %}">
    <div class="cf__item__big-title{% if is_first %} cf__item__title--first{% endif %}">
      {{ block.settings.title }}
    </div>
</div>