<div id="bt_countdown_html" class="hide">
  <div class="bt-countdown">
    <div class="days bt-countdown__ele">
      <span class="bt-countdown__number">$1</span>
      <span class="bt-countdown__label day">{{ 'products.product.countdown_days' | t }}</span>
    </div>
    <div class="hours bt-countdown__ele">
      <span class="bt-countdown__number">$2</span>
      <span class="bt-countdown__label hours">{{ 'products.product.countdown_hours' | t }}</span>
    </div>
    <div class="minutes bt-countdown__ele">
      <span class="bt-countdown__number">$3</span>
      <span class="bt-countdown__label minutes">{{ 'products.product.countdown_minutes' | t }}</span>
    </div>
    <div class="second bt-countdown__ele">
      <span class="bt-countdown__number">$4</span>
      <span class="bt-countdown__label seonds">{{ 'products.product.countdown_seconds' | t }}</span>
    </div>  
  </div>
</div>