<div class="header-mobile__top flex flex-align-ver flex-align-space-between" style="padding: 10px 0;">
	<div class="col-xs-4 no-gutter" style="margin:0 -10px;">
		{%- render 'header-mobile-logo' -%}
	</div>
	<div class="col-xs-8 flex header__links header__links--flex no-gutter">
		{%- render 'header__links--mobile' -%}
		<a class="mobile-nav-bar bt-sidebar-btn header__link" href="#" title="menu-bar" data-target="#sidebar-mobile-nav" data-placement="{% unless settings.enable_rtl and settings.rtl_language_codes contains request.locale.iso_code %}right{% else %}left{% endunless %}">{% render 'icon-bar' with add_class: 'ver-sub' %}</a>
	</div>
</div>