<div class="modal fade compare-popup wishlistPopup" tabindex="-1" role="dialog" id="wishlistPopup">
  <div class="modal-dialog modal-lg modal-full" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close">{% include 'icon-close' with add_class: 'flex flex-align-hoz' %}</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <h4><strong>{{ 'general.accessibility.your_wishlist' | t }}</strong></h4>
            <div class="content gutter-top"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>