{%- if template.suffix != 'quick_view' -%}
<h1 class="product-single__title w100 dib margin0 secondary-font fw-bold">{{ product.title }}</h1>
{%- else -%}
<span class="product-single__title w100 dib secondary-font fw-bold">{{ product.title }}</span>
{%- endif -%}