{%- if template.suffix != 'quick_view' -%}
{%- unless no_container -%}
<div class="container{% include 'wide-css-class' %} gutter-bottom gutter-ele-bottom-tbs">
{%- endunless -%}    
  <div class="row">
{%- endif -%}
<div class="col-xs-12 col-md-5 no-gutter-left-mb no-gutter-right-mb{% if settings.enable_rtl and settings.rtl_language_codes contains request.locale.iso_code %} f-right{% endif %}">
  {%- include 'product-single-media' -%}
</div>

<div class="col-xs-12 col-md-7 gutter-ele-top-tbs">
  <div class="row">
    <div class="col-xs-12 col-md-6{% if settings.enable_rtl and settings.rtl_language_codes contains request.locale.iso_code %} f-right{% endif %}">
      {%- include 'product-single-vendor' -%}
      {%- include 'product-single-name' -%}
      {%- include 'product-single-sku' -%}
      {%- include 'product-single-sold' -%}
      {%- capture review_single_html -%}
        {%- include 'product-review-single' -%}
      {%- endcapture -%}
      {%- if review_single_html != blank or sizechart -%}
      <div class="flex gutter-ele-top gutter-ele-top-tbs gutter-ele-bottom gutter-ele-bottom-tbs{% if review_single_html != blank and sizechart %} flex-align-space-between{% endif %}">
        {{ review_single_html }}
        {%- include 'product-single-size-chart' -%}
      </div>
      {%- endif -%}
      {%- include 'product-single-price' -%}
      {%- include 'product-single-short-desc' -%}
      <hr style="margin:10px 0;">
      <div class="hidden-xs hidden-sm">
        {%- include 'product-single-countdown' -%}
        {%- include 'product-single-hurry-up' -%}
        {%- include 'product-single-sub-info' -%}
        {%- include 'product-single-social-sharing' -%}
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="w100 hidden-xs hidden-sm" style="margin-top: -10px;"></div>
      <div class="pg__main-options">
        {%- include 'product-single-variants' -%}
        {%- include 'product-single-form', align_center_button: true, full_qty_box: true -%}
        {%- render 'product-single-store-availability' with custom_classes: 'gutter-ele-top gutter-ele-bottom' -%}
      </div>
      <div class="hidden-md hidden-lg">
        <hr style="margin:10px 0;">
        {%- include 'product-single-countdown' -%}
        {%- include 'product-single-hurry-up' -%}
        {%- include 'product-single-sub-info' -%}
        {%- include 'product-single-social-sharing' -%}
      </div>
      {%- include 'product-single-payment-badge' -%}
      {%- include 'product-single-view-details' -%}
    </div>
    {%- if template.suffix == 'quick_view' -%}
      {%- unless section.settings.general_info contains '[description]' -%}
        <div class="col-xs-12 gutter-ele-top">{{ description }}</div>
      {%- endunless -%}
    {%- endif -%}
  </div>
</div>

{%- if template.suffix != 'quick_view' -%}
</div>
{%- unless no_container -%}
</div>
{%- endunless -%}
{%- endif -%}