<div class="col-xs-12 col-sm-1 flex flex-align-ver flex-align-hoz gutter-ele-top-mb{% unless block.settings.slider_rows > 1 and block.settings.slider_center_focus == false %} hidden-xs{% endunless %}">
	<div class="button-container">
	  <button aria-label="button" class="slick-prev button button--style3 button--circle button--large slick-arrow" id="slick-prev-{{ section.id }}-{{ block.id }}" style="position:relative;top:0;"><span></span></button>
	  <button aria-label="button" class="slick-next button button--style3 button--circle button--large slick-arrow" id="slick-next-{{ section.id }}-{{ block.id }}" style="position: relative;top:0;"><span></span></button>
	</div>
</div>